.title{
		font-family:"ו";
		font-size:20px;
		font-weight:bolder;
		color:blue;
		vertical-align:middle;
	}
#frist{
		font-family:"ו";
		font-size:20px;
		font-weight:bolder;
		line-height:60px;
		background-color:#0FF;
		text-align:center;
		letter-spacing:5px;
    }